@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  z-index: 1;
  display: none;
  border-radius: 5px;
  border: solid darkslategray 2px;
  box-shadow: 10px 10px 10px grey;
  img {
    left: calc(50% - 50px);
    overflow: hidden;
  }
}

body {
  background-image: url("../images/background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  main {
    max-width: 1000px;
    width: 85%;
    margin: auto;
    background-color: white;
    height: 100%;
    padding: 20px;
    h1 {
      padding: 50px 0px;
      font-size: 30px;
    }
    section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      .form,
      .location,
      .map {
        min-height: 500px;
        border: solid black 2px;
        border-radius: 10px;
        background-color: lightsteelblue;
      }
      .form {
        border: solid black 2px;
        border-radius: 10px;
        padding: 20px;
        p {
          margin-bottom: 20px;
        }
        .input {
          margin-bottom: 20px;
        }
        .dropdown-menu {
          height: 200px;
          overflow: auto;
        }
      }
      .location {
        .result {
          padding: 10px;
          display: grid;
          grid-template-columns: 1fr;
          gap: 10px;
          .card :hover {
            box-shadow: 5px 5px 5px darkslategrey;
          }
          .card * :hover {
            box-shadow: none;
          }
        }
      }
      .map {
        display: none;
      }
    }
  }
}
