@import "reset.css";
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap");

:root {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.spinner {
  position: fixed;
  top: 50%;
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  z-index: 1;
  display: none;
  border-radius: 5px;
  border: solid darkslategray 2px;
  box-shadow: 10px 10px 10px grey;
  img {
    left: 50%;
    overflow: hidden;
  }
}

body {
  background-image: url("../images/background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  main {
    max-width: 1000px;
    width: 75%;
    margin: auto;
    background-color: white;
    min-height: 100vh;
    padding: 20px;
    h1 {
      padding: 50px 0px;
      font-size: 30px;
      font-weight: 400;
    }
    section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      .form,
      .location,
      .map {
        min-height: 500px;
        border: solid black 2px;
        border-radius: 10px;
        background-color: lightsteelblue;
      }
      .form {
        border: solid black 2px;
        border-radius: 10px;
        padding: 20px;
        p {
          margin-bottom: 20px;
        }
        .input {
          margin-bottom: 20px;
        }
        .dropdown-menu {
          height: 200px;
          overflow: auto;
        }
      }
      .location {
        .result {
          padding: 10px;
          display: grid;
          grid-template-columns: 1fr;
          gap: 10px;
          .card :hover {
            box-shadow: 5px 5px 5px darkslategrey;
            transition: 600ms;
          }
          .card * :hover {
            box-shadow: none;
          }
        }
      }
      .map {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  body {
    main {
      width: 85%;
    }
  }
}

@media screen and (max-width: 850px) {
  body {
    main {
      width: 90%;
    }
  }
}

@media screen and (max-width: 700px) {
  body {
    main {
      padding: 10px;
      section {
        grid-template-columns: 1fr;
        gap: 10px;
        .form {
          min-height: 0px;
        }
        .location {
          .result {
            grid-template-columns: 1fr 1fr;
            gap: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  body {
    main {
      section {
        .location {
          .result {
            grid-template-columns: 1fr;
          }
        }
      }
    }
  }
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
